*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
    #navbarWrap {
        display: flex;
        border: 2px solid red;
        width: 100%;
        height: 70px;
        justify-content: space-between;
        padding-bottom: 5%;
        padding-top: 2%;
    }

    img {
        width: 65%;
        height: 50px;
        margin-left: 12px;

    }

    #btnImg {
        width: 25px;
        height: 25px;
    }

    #input3 {
        display: flex;
        width: 40%;
    }
    #inputBox{
    width: 100%;
    height: 35px;
    }
    

    #mic4 {
        width: 40px;
    }

    #showResult {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 10px;
        /* border: 2px solid red; */
        grid-gap: 15px;
    }
